$color = #ff005c
#app
  height: 100%
#app>>>.vux-header
  background-color $color
  position: fixed
  width: 100%
  top: 0
  z-index 500
  .vux-header-left
    .vux-header-back
      color #fff
    .left-arrow::before
      border-color #fff
#app>>>.routerView
  padding: 46px 5% 0
#app>>>.weui-tabbar__item.vux-tabbar-simple
  height: 80px
  line-height: 80px
#app>>>.weui-tabbar__icon
  height auto

#app>>>.weui-tabbar
  background-color $color
  position: fixed


#app>>>#divider
  height: 100px
  background #eee

